{% extends "base.html" %} {% block main %}
<div class="jumbotron" style="background:#f1c40f; height:250px;">
    <div class="container">
        <h1>文章列表</h1>
    </div>
</div>
<div
    class="container"
    style="margin-bottom:30px;display: table;width:40%;margin-left: auto;margin-right: auto;"
>
    {% for article in articless %}
    <a href="/articles/{{ article.title }}" class="list-group-item" style="text-align:center;">{{
        article.title
    }}</a>
    {% endfor %}
</div>
<div class="container" style="text-align:center">
    <p>
        <a href="/" class="btn btn-lg btn-primary">返回主页</a>
    </p>
</div>
{% endblock %}
