{% extends "base.html" %} {% block main %}
<div class="jumbotron" style="background:#fdcb6e; height:250px;">
        <div class="container" style="padding-bottom: 6%;">
            <h1>修改文章</h1>
        </div>
        </div>
<div class="container" style="margin-bottom:30px;">
<form action="{{"/articles/" + article.title + "/edit" }}" method="post">
    <p>
        Title:<input
            name="title"
            type="text"
            class="form-control"
            placeholder="Title"
            aria-describedby="basic-addon1"
            value="{{ article.title }}"
            readonly="readonly"
            style="width:30%;"
        />
    </p>
    <p>
        Content:<input
            name="content"
            type="text"
            class="form-control"
            placeholder="Content"
            aria-describedby="basic-addon1"
            value="{{ article.content }}"
            style="width:50%;"
        />
    </p>
    <div class="container" style="text-align: center;">
        <p>
        <button type="submit" class="btn btn-primary btn-lg">
                修改
        </button>
        <a class="btn btn-primary btn-lg" href="/articles/funn/delete" role="button">删除</a>
        </p>
    </div>
</form>
</div>
{% endblock %}