{% extends "base.html" %} {% block main %}
<div class="jumbotron" style="background:#74b9ff; height:250px;">
    <div class="container">
        <h1>新建文章</h1>
    </div>
</div>
<div class="container">
    <form action="/new" method="post">
        <p>
            Title:<input
                name="title"
                type="text"
                class="form-control"
                placeholder="Title"
                aria-describedby="basic-addon1"
                style="width:30%;"
            />
        </p>
        <p>
            Content:<input
                name="content"
                type="text"
                class="form-control"
                placeholder="Content"
                aria-describedby="basic-addon1"
                style="width:50%"
            />
        </p>
        <!--appearance:button; box-sizing:border-box;padding:0;width:30%;height:200px;-->
        <div class="container" style="text-align:center;">
            <p>
                <button type="submit" class="btn btn-primary btn-lg">
                    发布
                </button>
                <a href="/" class="btn btn-primary btn-lg">返回</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
