{% extends "base.html" %} {% block main %}
<div class="jumbotron" style="background:#dfe6e9; height:250px;">
    <div class="container" style="padding-bottom: 6%;">
        <h1>登陆</h1>
    </div>
</div>
<div class="container">
    <div class="alert alert-danger" role="alert">
        登陆失败，用户名或密码错误
    </div>
    <form action="/signin" method="post">
        <p>
            Name:<input
                name="name"
                type="text"
                class="form-control"
                placeholder="Username"
                aria-describedby="basic-addon1"
                style="width:30%;"
            />
        </p>
        <p>
            Password:<input
                name="password"
                type="password"
                type="text"
                class="form-control"
                placeholder="Password"
                aria-describedby="basic-addon1"
                style="width:30%;"
            />
        </p>
        <div class="container" style="text-align:center;">
            <p>
                <button type="submit" class="btn btn-primary btn-lg">
                    登陆
                </button>
            </p>
        </div>
    </form>
    <div class="container">
        <p>
            <a class="btn btn-primary btn-lg" href="/" role="button">返回</a>
        </p>
    </div>
</div>
{% endblock %}
